@using Shelter.Client.Services;
@using Shelter.Shared.Models;
@page "/Booking"

<PageTitle>ShelterBooking</PageTitle>

<h1>Book her</h1>

<!--<div>
        <ul>
            @foreach (var item in Items)
            {
            <li>
                @item.property.Navn
                @item.property.Beskrivelse 
                @item.property.AntalPladser

            </li>
        }
        </ul>
</div>
-->
<div>
    <form action="/Booking">
  <label for="Items">Vælg et Shelter:</label>
  <select name="shelters" id="items">
      @foreach(var item in Items)
      {
    <option value="@item.property.Navn">@item.property.Navn</option>
      }
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
</div>

<!--<div>
<label>
    Name:
    <input @bind="name"/>
</label>
<button class="btn btn-primary" @onclick="ShelterBookingHandler"></button>
</div>-->
@code {


    private List<ShelterItem> Items = new List<ShelterItem>();
    //private List<BookingItem> Bookings = new List<BookingItem>();

    [Inject]
    public IShelterService Service { get; set; }

    protected override async Task OnInitializedAsync()
    {
          Items = (await Service.GetAllItems()).ToList();

    }
   
}
