@using Shelter.Client.Services;
@using Shelter.Shared.Models;

@page "/Pedel"
<h3>Pedel</h3>
<div>
            @foreach (var item in BookingListe)
            {
                <table style="border:1px; border-style:solid; margin:20px; width: 45%">


   


        <tr><td><p1 style="font-weight:bold; padding: 3px; margin:4px">Navn:</p1> @item.PersonNavn</td> </tr >
        <tr><td><p1 style="font-weight:bold; padding: 3px; margin:4px">Email:</p1> @item.email</td> </tr >
        <tr><td><p1 style="font-weight:bold; padding: 3px;margin:4px">Shelter:</p1>@item.Shelternavn</td></tr>
        <tr><td> <p1 style="font-weight:bold; padding: 3px; margin:4px">Startdato:</p1>@item.Dato1</td></tr>
        <tr><td> <p1 style="font-weight:bold; padding: 3px;margin:4px">Slutdato:</p1>@item.Dato2</td></tr>
        <tr><td><p1 style="font-weight:bold; padding: 3px;margin:4px">Bookingid:</p1> @item.MongoId</td></tr>

    </table>
            }
        
</div>

@code {
    private List<BookingItem> BookingListe = new List<BookingItem>();
    private BookingItem TheBooking = new BookingItem();

      [Inject]
    //inject shelterservice
    public IBookingService Service { get; set; }

    protected override async Task OnInitializedAsync()
    {
        BookingListe = (await Service.GetAllItems2()).ToList();

    }

}
